
.crystal{
    border:1px solid green;
    height:200px;
    width: 200px;
    background-image: url("../images/crystal.jpg")
}

.crystals{
    display:flex;
    justify-content:space-around;
    
    align-items: center;
}